---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const isPerso = currentPath.includes("perso");
---

<div
  class="mx-auto flex w-fit justify-center gap-5 rounded-lg border border-gray-700 p-1 text-xs sm:text-base"
>
  <a
    href="/#article"
    class={`px-3 py-2 rounded-md font-semibold sm:w-40 text-center ${
      !isPerso ? "text-white bg-gray-800 transition-opacity" : "text-gray-400"
    }`}
  >
    Work
  </a>
  <a
    href="/perso#article"
    class={`px-3 py-2 rounded-md font-semibold sm:w-40 text-center  ${
      isPerso ? "text-white bg-gray-800 transition-opacity" : "text-gray-400"
    }`}
  >
    Personal projects
  </a>
</div>
